body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-connexion{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.data-list{
    padding: 1rem
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30%;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
}  

.form-input-container{
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0;
}

.form-label{
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.form-input{
    padding: 0.75rem 0.5rem;
    outline: 0;
    border: solid 1px;
    border-radius: 5px;
    border-color: grey;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: lightgray;
    padding: 1rem;
    width: 100%;
}

.header-nav-container{
    display: flex;
    align-items: center;
}

.header-nav-list{
    display: flex;
    font-size: 1.25rem;
}

.nav-list{
    margin-right: 2rem;
}

.home-title-page{
    font-size: 3rem;
    font-weight: bold;
    padding: 3rem 0;
    justify-content: center;
    display: flex;
    align-items: center;
    color: brown;
}
.title-page{
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0 1rem 1rem;
    color: brown;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: brown;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav-container{
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(238,227,211);
    border-radius: 10px;
    width: 30%;
}

.link-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.link-list{
    text-decoration: none;
    margin: 0.5rem;
}

.log-btn{
    padding: 0.5rem;
    color: white;
    background-color: brown;
    border: none;
    border-radius: 5px;
    font-size: 1.10rem;

}

.login-btn{
    margin: 1rem 0;
    padding: 0.50rem;
    font-size: 1.10rem;
}

li{
    padding-bottom: 0.5rem;
}

p{
    padding: 0.5rem 0;
}

h2, h3 {
    padding-top: 0.5rem;
    font-size: 1.10rem;
    font-weight: bold;
}

h3{
    padding-bottom: 0.5rem;
}

img{
    width: 6rem;
    height: 6rem;
}

.even {
    background-color: rgb(238,227,211); /* Gris clair */
}

.odd {
    background-color: rgba(226, 224, 224, 0.623); /* Blanc */
}

.data-circle{
    width: 150px;
    height: 150px;
    border: solid 10px;
    border-color:lightgrey;
    border-radius: 50%;
    background-color: rgb(238,227,211);
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-size: 16px;
    margin-right: 2rem;

}

.data-circle-container{
    display: flex;
    margin: 1rem auto;
}
